<!DOCTYPE html>
<!--Yes I know this is not a .txt file. That would be so correct to do it that way-->
<h1>Humans</h1>
<p>This is a list of humans who contribute to the project tagged by their Github Identity</p>
<p>This list will be factually accurate at build time</p>

<h2>Contributors</h2>
<p>These are people who contribute code to the project</p>
<ul>
    <li><a href="https://github.com/Jameslikestea">Jameslikestea</a></li>
</ul>

<h2>Backers</h2>
<p>These are people who contribute financially to the project</p>
<ul>

</ul>