<!DOCTYPE html>
<html class="h-100">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>Go Resource Manager</title>
    </head>
    <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GRM - Go Resource Manager</a>
            <form class="d-flex" action="/package">
                <input name="q" class="form-control" type="search" placeholder="Package" aria-label="Package"/>
                <button class="btn btn-outline-primary">Go</button>
            </form>
        </div>
    </nav>
    <main class="flex-shrink-0">
        <div class="container-lg">
            <h1 class="display-1">GRM</h1>
            <p>
                Go Resource Manager is an immutable tag manager for Git. Making tags immutable is an important component of package management as it
                allows projects to make more guarantees about the software they&apos;re building and maintaining.
            </p>
            <p>
                Although GRM is designed with Go in mind, it can be used for <strong>any</strong> git based package where maintaining versions
                is important.
            </p>
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-dark text-center">
        <span style="color: white">Made with <span style="color: red">&hearts;</span> by Jameslikestea</span>
    </footer>
    </body>
</html>